@page "/Confirmation/{Id:guid}"
@inherits LayoutComponentBase

<PageTitle>Confirmation </PageTitle>
<body>
    <NavBar></NavBar>
    <section id="conf" class="conf">
        <div class="containerConf">
            <div class="section-header">
                <h2>Confirmation of your Appointment</h2>
            </div>
            <div class="row g-0">
                <div class="col-md-8 border-right">
                    <div class="status p-3">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <span class="heading d-block">Date/Time</span>
                                            <span class="subheadings">@Appointment.StartDate </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <span class="heading d-block">Status</span>
                                            <span class="subheadings"><i class="dots"></i> @Appointment.Type</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <span class="heading d-block">Speciality</span>
                                            <span class="subheadings">@Service.NameServiceProvided</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <span class="heading d-block">Referring Nutritionist</span>
                                            <span class="subheadings"> RD. @Nutritionist.FirstName @Nutritionist.LastName</span>
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <span class="heading d-block">Contact</span>
                                            <span class="subheadings"> @Nutritionist.Phone</span>
                                            <span class="subheadings"> @Nutritionist.Email</span>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="d-flex flex-column">
                                            <span class="heading d-block">Reason of visiting</span>
                                            <span class="subheadings">@Customer.ScopeOfAppointment</span>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="d-flex flex-column">
                                            <span class="heading d-block">Confirmation Email</span>
                                            <span class="subheadings"> Message Sent</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-2 text-center">
                        <div class="profile">
                            <img src="@Nutritionist.PictureUrl" width="100" class="rounded-circle img-thumbnail">
                            <span class="d-block mt-3 font-weight-bold">RD. @Nutritionist.FirstName @Nutritionist.LastName</span>
                        </div>
                        <div class="about-nutritionist">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <span class="heading d-block">Specialist</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

@code{

}